container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python skill_assesment_test/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python skill_assesment_test/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python skill_assesment_test/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "skill_assesment_test.settings"
    "PYTHONPATH": "/opt/python/current/app/skill_assesment_test:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: skill_assesment_test/skill_assesment_test/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
